@import '~@angular/material/theming';
@import "~bootstrap/dist/css/bootstrap.css";
@import 'simple-keyboard/build/css/index.css';

/* SAN FRANCISCO */
@font-face{
  font-family: 'SF-ultralight';
  src: url('/assets/SF-Pro-Display-Ultralight.otf');
}
@font-face{
  font-family: 'SF-light';
  src: url('/assets/SF-Pro-Display-Light.ttf');
}
@font-face{
  font-family: 'SF-bold';
  src: url('/assets/SF-Pro-Display-Bold.otf');
}
@font-face{
  font-family: 'SF-medium';
  src: url('/assets/SF-Pro-Display-Medium.otf');
}
@font-face{
  font-family: 'SF-regular';
  src: url('/assets/SF-Pro-Display-Regular.otf');
}
@font-face{
  font-family: 'SF-semibold';
  src: url('/assets/SF-Pro-Display-Semibold.otf');
}
@font-face{
  font-family: 'SF-black';
  src: url('/assets/SF-Pro-Display-Black.ttf');
}
@font-face{
  font-family: 'SF-heavy';
  src: url('/assets/SF-Pro-Display-Heavy.ttf');
}

/* EINA */
@font-face{
  font-family: 'Eina-bold';
  src: url('/assets/Eina03-Bold.ttf');
}

@font-face{
  font-family: 'Eina-semibold';
  src: url('/assets/Eina03-SemiBold.ttf');
}

@font-face{
  font-family: 'Eina-regular';
  src: url('/assets/Eina03-Regular.ttf');
}

@font-face{
  font-family: 'Eina-light';
  src: url('/assets/Eina03-Light.ttf');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #30336b; }

.text-heavy{
  font-family: 'SF-heavy', sans-serif;
}
.text-bold{
  font-family: 'Eina-bold', sans-serif;
}
.text-semibold, b{
  font-family: 'Eina-semibold', sans-serif;
}
.text-regular{
  font-family: 'Eina-regular', sans-serif;
}
.text-thin{
  font-family: 'Eina-light', sans-serif;
}

.text-purple {
  color: #30336b !important;
}

.bg-purple {
  background-color: #30336b !important;
}
.text-purple {
  color: #30336b;
}
.bg-semi-purple {
  background-color: #646690 !important;
}


mat-dialog-container {
  background-color: #576574 !important;
  color: whitesmoke !important;
  mat-dialog-actions {
    min-width: 300px;
  }
}

a:hover {
  color: unset;
}

.pointer {
  cursor: pointer;
}


.single-row {
  margin-bottom: 5px !important;
}

.letter-card {
  width: 50px;
  height: 50px;
  box-shadow: 4px 6px 4px -1px rgba(0,0,0,0.39);
  background-color: #ffffff48;
  margin-right: 5px;
  padding-top: 13px;
  border-radius: 5px;
  text-transform: uppercase;
}

.wrong {
  background-color: darkgrey;
}

.partially-wrong {
  background-color: #feca57;
}

.correct {
  background-color: #2ecc71;
}

@media (max-width: 992px) {
  .simple-keyboard {
    width: 100vw;
  }
  .hg-button:active {
    background-color: darkgrey !important;
    transition-duration: 0.1s;
  }
  .hg-button-delete:active {
    background-color: #ff6b6b !important;
  }
  .hg-button-enter:active {
    background-color: #2ecc71 !important;
  }
  app-header {
    width: 100% !important;
  }
}

@media (min-width: 993px) {
  .simple-keyboard {
    width: 50%;
  }
  .hg-button:hover {
    background-color: darkgrey !important;
    transition-duration: 0.1s;
  }
  .hg-button-delete:hover {
    background-color: #ff6b6b !important;
  }
  .hg-button-enter:hover {
    background-color: #2ecc71 !important;
  }
  app-header {
    width: 50% !important;
  }
}

.info-container {
  // padding-left: 30%;
}

.simple-keyboard {
  // background: transparent !important;
}
.hg-button {
  // font-family: 'Eina-regular';
  // text-transform: uppercase;
  // height: 53px !important;
  // background-color: #dfe6e9 !important;
  background-color: whitesmoke !important;
}
.hg-button[disabled] {
  pointer-events: none;
}
.hg-functionBtn  {
  // background-color: #fdd4d4 !important;
  color: black;
  background-color: lightgrey !important;
}

.simple-keyboard.hg-layout-default .hg-button.hg-grey {
  background: grey !important;
  color: darkgrey !important;
}
.simple-keyboard.hg-layout-default .hg-button.hg-green {
  background: #2ecc71 !important;
  color: white !important;
}
.simple-keyboard.hg-layout-default .hg-button.hg-yellow {
  background: #feca57 !important;
  color: white !important;
}