<div class="container-fluid d-flex align-items-center flex-column text-semibold">

  <app-header [league]="''"></app-header>

  <div class="d-flex flex-column align-items-center mt-3" >
    <p class="text-semibold text-white my-3">Choose your league</p>
    <button class="league-btn mt-2 mb-2 mat-elevation-z6" (click)="goTo('serie-a')">
      <div class="d-flex align-items-center justify-content-around w-100">
        <div class="text-semibold">Serie A</div>
        <mat-icon>sports_soccer</mat-icon>
      </div>
    </button>
    <button class="league-btn my-2 mat-elevation-z6" (click)="goTo('nba')">
      <div class="d-flex align-items-center justify-content-around w-100">
        <div class="text-semibold">NBA</div>
        <mat-icon>sports_basketball</mat-icon>
      </div>
    </button>
  </div>

</div>